<div class="row">
        <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                                <div class="carousel-item active" *ngIf="car.imagePath.length==0">
                                        <img src="https://localhost:44381/uploads/default.png" alt="">
                                </div>
                                <div [class]="isFirstImage(i)" *ngFor="let carImage of car.imagePath ; let i = index">
                                        <img class="slider-img" src="https://localhost:44381/uploads/{{carImage.imagePath}}" />
                                </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                        </button>
                </div>
        </div>
        <div class="col-md-6">
                <ul class="list-group">
                        <li class="list-group-item">Car Name : {{car.carName}}</li>
                        <li class="list-group-item">Brand Name : {{car.brandName}}</li>
                        <li class="list-group-item">Color Name : {{car.colorName}}</li>
                        <li class="list-group-item">Daily Price : {{car.dailyPrice}}</li>
                </ul>
        </div>
</div>
<div class="row">
        <div class="col-md-12 mt-5">
                <h3>Diğer araçlar</h3>
                <app-car></app-car>
        </div>
</div>