<div class="container">
  <div class="row">
    <div class="col-md-12 mb-5 mt-2">
      <input *ngIf="isVisible"
        class="form-control"
        type="text"
        [(ngModel)]="filterText"
        placeholder="search car"
      />    
    </div>
    <div class="col-md-4">
      <select class="form-select col-md-3" [(ngModel)]="selectedColor">
        <option selected value="0">Select color</option>
        <option (click)="getSelectedColor()" [value]="color.id" *ngFor="let color of colors">{{color.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <select class="form-select col-md-3" [(ngModel)]="selectedBrand" aria-label="">
        <option value="0">Select  brand</option>
        <option (click)="getSelectedBrand()" [value]="brand.id" *ngFor="let brand of brands">{{brand.name}}</option>
      </select>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-info" (click)="filterColorAndBrand()">Filter</button>
    </div>
    <div class="col-md-4 mt-3" *ngFor="let car of cars | carPipe:filterText">
      <div class="card">
        <img
          *ngIf="car.imagePath.length == 0"
          src="https://localhost:44381/uploads/{{ defaultImage }}"
          class="card-img-top car-image"
        />
        <img
          *ngIf="car.imagePath.length != 0"
          src="{{ imageUrl }}{{ car.imagePath[0].imagePath }}"
          class="card-img-top car-image"
        />
        <ul class="list-group text-center">
          <li class="list-group-item">{{ car.carName }}</li>
          <li class="list-group-item">{{ car.brandName }}</li>
          <li class="list-group-item">{{ car.colorName }}</li>
          <li class="list-group-item">Daily :{{ car.dailyPrice  | currency:'TRY' }}</li>
          <li class="list-group-item">
            <button
              routerLink="/car/cardetail/{{ car.carId }}"
              type="button"
              class="btn btn-dark"
            >
              Car Detail
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
